.hidden {
  display: none;
}

.card-image .hue {
  height: 200px;
}

h3 {
  font-size: 14px;
}

.card {
  height: 51vh;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  /*
  20% 1
  40% 2
  60% 3
  80% 4
  100% 5
  */
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
