.hidden {
  display: none;
}


/*
* {
  box-sizing: border-box;
}

.click-to-expand, .click-to-collapse {
  height: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}



.container {
  max-width: 1000px;
  margin: 0 auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}


.bookmark-container {
  display: inline-block;
  height: 400px;
  width: 400px;
  background-color: red;
}

.bookmark-item {
  background-color: green;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}



*/
